{% extends "base.html" %}
{% load image %}
{% block content %}
<!-- MAIN -->
<div id="main">
    <div class="wrapper cf">
        <!-- featured -->
        <div class="masthead cf">{{ object.title }}</div>
        <div  id="portfolio-content" class="cf">
            <ul id="filter-buttons">
                <li><a href="#" data-filter="*" class="selected">show all</a></li>
                <li><a href="#" data-filter=".web">web</a></li>
                <li><a href="#" data-filter=".print">print</a></li>
                <li><a href="#" data-filter=".design">design</a></li>
                <li><a href="#" data-filter=".photo">photo</a></li>
            </ul>
            <!-- Filter container -->
            <div id="filter-container" class="cf">
                {% for obj in object.get_objects %}
                {% block list_obj %}
                <figure class="{% cycle "web" "print" "design" "photo" "web print" %}">
                    {% if obj.picture %}
                    <a href="{{ obj.get_absolute_url }}" class="thumb" title="{{ obj.title }}">
                        <img src="{% image obj.picture 300x zoom %}" alt="{{ obj.title }}" />
                    </a>
                    {% endif %}
                    <figcaption>
                        <a href="{{ obj.get_absolute_url }}" title="{{ obj.title }}"><h3 class="heading">{{ obj.title }}</h3></a>
                        {{ obj.description|truncatewords_html:12|safe }}
                    </figcaption>
                </figure>
                {% endblock %}
                {% endfor %}
            </div><!-- ENDS Filter container -->
        </div>
        <!-- ENDS featured -->
    </div><!-- ENDS WRAPPER -->
</div>
<!-- ENDS MAIN -->
{% endblock %}

{% comment %}
vim: ft=htmldjango ts=4 sw=4 sts=4 sr et
{% endcomment %}
