{% load static image %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    m4v: "{% static "video/Big_Buck_Bunny_Trailer.m4v" %}",
                    mp4: "{{ video.file.url }}",
                    poster: "{{ object.screenshot.url }}"
                });
            },
            swfPath: "{% static "js" %}",
            supplied: "m4v, mp4",
            size: {
                width: "{{ width }}px",
                height: "{{ height }}px",
            }
        });
    });
</script>
<div id="jquery_jplayer_1" class="jp-jplayer" style="width: {{ width }}px; height: {{ height }}px;"></div>
