{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
<div id="main">
    <div class="wrapper cf">
        <!-- posts list -->
        <div id="posts-list" class="cf">
            <!-- Audio -->
            <article class="format-audio">
                <div class="box cf">
                    <div class="entry-date"><div class="number">23</div><div class="month">JAN</div></div>
                    <div class="excerpt">
                        <a href="single.html" class="post-heading" >Miaow Track</a>
                    </div>
                    <div class="meta">
                        <span class="format">Audio</span>
                        <span class="user"><a href="#">By LuisZuno, </a></span>
                        <span class="comments">16 comments</span>
                        <span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
                    </div>
                </div>
            </article>
            <!-- ENDS Audio -->
            <!-- Video -->
            <article class="format-video">
                <div class="video-container">
                    <iframe  src="http://www.youtube.com/embed/YE7VzlLtp-4" ></iframe>
                </div>
                <div class="box cf">
                    <div class="entry-date"><div class="number">23</div><div class="month">JAN</div></div>
                    <div class="excerpt">
                        <a href="single.html" class="post-heading" >YOUTUBE</a>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                    <div class="meta">
                        <span class="format">Video</span>
                        <span class="user"><a href="#">By LuisZuno, </a></span>
                        <span class="comments">16 comments</span>
                        <span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
                    </div>
                </div>
            </article>
            <!-- ENDS Video -->
            <!-- Link -->
            <article class="format-link">
                <div class="box cf">
                    <div class="entry-date"><div class="number">23</div><div class="month">JAN</div></div>
                    <div class="excerpt">
                        <a href="http://luiszuno.com" class="post-heading" >This is a link example</a>
                    </div>
                    <div class="meta">
                        <span class="format">Link</span>
                        <span class="user"><a href="#">By LuisZuno, </a></span>
                        <span class="comments">16 comments</span>
                        <span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
                    </div>
                </div>
            </article>
            <!-- ENDS Link -->
            <!-- Quote -->
            <article class="format-quote">
                <div class="box cf">
                    <div class="entry-date"><div class="number">23</div><div class="month">JAN</div></div>
                    <div class="excerpt">
                        <a href="single.html" class="post-heading" >Death doesn't really worry me that much, I'm not frightened about it... I just don't want to be there when it happens</a>
                        <p><span class="q-author">-Woody Allen</span></p>
                    </div>
                    <div class="meta">
                        <span class="format">Quote</span>
                        <span class="user"><a href="#">By LuisZuno, </a></span>
                        <span class="comments">16 comments</span>
                        <span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
                    </div>
                </div>
            </article>
            <!-- ENDS Quote -->
            <!-- Standard -->
            <article class="format-standard">
                <div class="feature-image">
                    <a href="single.html">
                        <img src="img/dummies/slides/01.jpg" alt="Alt text" />
                    </a>
                </div>
                <div class="box cf">
                    <div class="entry-date"><div class="number">23</div><div class="month">JAN</div></div>
                    <div class="excerpt">
                        <a href="single.html" class="post-heading" >LOREM IPSUM DOLOR AMET</a>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed.</p>
                        <p><a href="single.html" class="learnmore">Learn More</a></p>
                    </div>
                    <div class="meta">
                        <span class="format">Post</span>
                        <span class="user"><a href="#">By LuisZuno, </a></span>
                        <span class="comments">16 comments</span>
                        <span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
                    </div>
                </div>
            </article>
            <!-- ENDS  Standard -->
            <!-- Image -->
            <article class="format-image">
                <div class="feature-image">
                    <a href="img/dummies/slides/01.jpg" data-rel="prettyPhoto">
                        <img src="img/dummies/slides/04.jpg" alt="Alt text" />
                    </a>
                </div>
                <div class="box cf">
                    <div class="entry-date"><div class="number">23</div><div class="month">JAN</div></div>
                    <div class="excerpt">
                        <a href="single.html" class="post-heading" >AN IMAGE</a>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                    <div class="meta">
                        <span class="format">Image</span>
                        <span class="user"><a href="#">By LuisZuno, </a></span>
                        <span class="comments">16 comments</span>
                        <span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
                    </div>
                </div>
            </article>
            <!-- ENDS Image -->
            <!-- page-navigation -->
            <div class="page-navigation cf">
                <div class="nav-next"><a href="#">&#8592; Older Entries </a></div>
                <div class="nav-previous"><a href="#">Newer Entries &#8594;</a></div>
            </div>
            <!--ENDS page-navigation -->
        </div>
        <!-- ENDS posts list -->
        <!-- sidebar -->
        <aside id="sidebar">
            <ul>
                <li class="block">
                    <h4>Text Widget</h4>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
                </li>
                <li class="block">
                    <h4>Categories</h4>
                    <ul>
                        <li class="cat-item"><a href="#" title="title">Film and video<span class="post-counter"> (2)</span></a></li>
                        <li class="cat-item"><a href="#" title="title">Print<span class="post-counter"> (2)</span></a></li>
                        <li class="cat-item"><a href="#" title="title">Photo and lomo<span class="post-counter"> (2)</span></a></li>
                        <li class="cat-item"><a href="#" title="title">Habitant morbi<span class="post-counter"> (2)</span></a></li>
                        <li class="cat-item"><a href="#" title="title">Film and video<span class="post-counter"> (2)</span></a></li>
                        <li class="cat-item"><a href="#" title="title">Print<span class="post-counter"> (2)</span></a></li>
                        <li class="cat-item"><a href="#" title="title">Photo and lomo<span class="post-counter"> (2)</span></a></li>
                        <li class="cat-item"><a href="#" title="title">Habitant morbi<span class="post-counter"> (2)</span></a></li>
                    </ul>
                </li>
                <li class="block">
                    <h4>Archives</h4>
                    <ul>
                        <li class="cat-item"><a href="#" title="title">January</a></li>
                        <li class="cat-item"><a href="#" title="title">February</a></li>
                        <li class="cat-item"><a href="#" title="title">March</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- ENDS sidebar -->
    </div><!-- ENDS WRAPPER -->
</div>
<!-- ENDS MAIN -->
{% endblock %}
